* {
    box-sizing: border-box;
    color: #442c1a;
    font-family: montserrat;
}

@font-face {
    font-family: "montserrat";
    src: url(./fontes/Montserrat-Regular.otf);
}   


body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #DFB470;
    color: #333;
    display: flex;
    align-items: center;
  }
  
.cart-container {
    width: 1300px;
    height: auto;
    margin: 50px auto;
    background-color: #FFEFC6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }


.product-details {
    display: flex;
    align-items: center;
}

.homeButton {
  width: 60px;
  height: 50px;
  display: flex;
  border: none;
  background-color: #DFB470;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin-bottom: 350px;
  margin-left: 50px;
  position:sticky;
}

.homeButton > i {
  font-size: 40px;
  color: #674228;
}

.product-details > .img-produto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: #DFB470;
}

.p-infos {
    font-size: 12px;
    margin:10px;
    color: #704D34;
}

.p-total {
    margin:10px;
    color: #333;
}

.info {
    margin-left: 100px;
}

  .cart-container > .cart-list > img {
    display: flex;    
    border: 1px solid;
}
  
  h2 {
    text-align: center;
    color: #704D34;
  }
  
  hr {
    border: 1px solid #DFB470;
    margin: 10px 0;  }

  .cart-list {
    list-style: none;
    padding: 0;
  }
  
  .cart-list li {
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .cart-list li img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
  }
  
  .info {
    flex: 1;
  }
  
  .cart-summary {
    margin-top: 20px;
  }

  .choose-payment-btn {
    background-color: #DFB470;
    color: #fff;
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    border:1px solid #704D34;
    cursor: pointer;
    display: block; 
    margin: 0 auto;
}
  
  
  