* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'montserrat-bold';
    src: url(../static/fontes/Montserrat-Bold.otf);
}
@font-face {
    font-family: 'montserrat-regular';
    src: url(../static/fontes/Montserrat-Regular.otf);
}

body {
    background-color: #FFEFC6;
}

header {
    position: sticky;
    top: 0%;
}

#inverte {
    display: flex;
    gap: 90px;
    align-items: center;
}


nav {
    display: flex;
    background-color: #FFDDA7;
    width: auto;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 35px;
    font-family: 'montserrat-regular';
}

#logo {
    height: 90px;
}


#pesquisa {
    border-radius: 30px;
    padding-right: 20px;
    padding-left: 10px;
    outline: none;
    background-color: #FFDDA7;
    border: none;
}

#P {
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    border: 1px solid #00000042;
    width: 380px;
    height: 35px;
    align-items: center;
    padding-left: 10px;
    padding-right: 20px;
    color: #674228d5;
}

#A {
    display: flex;
    gap: 20px;
    font-size: 25px;
    color: #674228;
}

#A > a {
    text-decoration: none;
    color: #674228;
    transition: 0.3s;
}

#A > a:hover {
    opacity: 0.7;
}

#burguer {
    background-color: #FFDDA7;
    color: #674228;
    text-align: center;
    padding: 10px;
    display: block;
    cursor: pointer;
}

#burguer:hover {
    background-color: #674228;
    color: #FFDDA7;
}

.menu {
    display: none;
    font-size: 25px;
    padding: 10px;
}


#itens > a {
    text-decoration: none;
    color: #674228;
    transition: 0.3s;
}

#itens > a:hover {
    opacity: 0.7;
}

#itens {
    display: flex;
    gap: 20px;
}

#ig {
    display: flex;
    gap: 10px;
    justify-content: center;
}

#simbIG {
    display: flex;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    background-color: #674228d8;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}


main {
    width: 100%;
    height: 2600px;
}

#hero {
    width: 100%;
    height: 500px;
    background-image: url(../static/img/hero1.jpg);
   
}

#entreFeS {
    width: 100%;
    height: 30px;
    background-color: #674228;
}


@media screen and (min-width: 768px) {
    #burguer {
        display: none;
    }
    .menu {
        display: inline-block;
        padding-right: 4px;
    }

}

@media screen and (max-width: 768px) {
    #overlay {
        display: none;
        position: fixed;
        top: 0%;
        left: -0%;
        width: 350px;
        height: 100%;
        background-color: #674228cb;
        z-index: 1;
    }
    #itens {
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    #itens > a {
        text-decoration: none;
        color: #FFDDA7;
        transition: 0.3s;
    }

    #logo {
        padding-right: 5px;
    }
    nav {
        height: auto;
        width: 100%;
        justify-content: space-between;
    }

    #logo {
        height: 50px;
        margin: 0px;
    }
    input {
        width: 220px;
        height: 25px;
    }

    #A {
        font-size: 18px;
        gap: 10px;
    }

    #inverte {
        flex-direction: row-reverse;
        gap: 10px;
        padding-left: 20px;

    }

    #burguer {
        font-size: 20px;
    }
    .footer-content {
        margin: 0%;
        gap: 15px;
    }
    #simbIG {
        background-color: #FFDDA7;
        color: #674228;
    }
    #simbIG > i {
        font-size: 20px;
    }
    .title {
        font-size: 15px;
    }
    #IG {
        gap: 0px;
    }
    .info {
        font-size: 10px;
    }
    .contact-info {
        margin: 10px;
    }
    #logoF {
        height: 50px;
    }
    .sobretexto {
        margin: 10px;
    }
    .sobretexto > h3 {
        font-size: 15px;
    }
    .sobretexto > p, ul{
        font-size: 10px;
    }
    #entreFeS {
        height: 15px;
    }
    #hero {
        height: 200px;
        background-image: url(../static/img/heroM.png);
    }
}


footer {
    align-items: center;
    color: #674228;
}
    
.footer-content {
    background-color: #FFDDA7;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#logoF {
    height: 150px;
}
    
.contact-info p {
    margin: 5px 0;
    color: #674228;
}


.info {
    font-family: 'montserrat-regular';
    padding-bottom: 10px;
}

.title {
    font-family: 'montserrat-bold';
}

#sobre {
    color: #674228;
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color:#FDD28E;
    width: 100%;
    height: 220px;
}


.sobretexto {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color:#674228;
    width: 300px;
    text-align: center;
    font-family: 'montserrat-regular';


}

#listaS  {
    list-style-type: none;
}

.contact-info {
    display: flex;
    width: 500px;
    justify-content: space-between;
}