* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@font-face {
    font-family: "montserrat";
    src: url(./fontes/Montserrat-Bold.otf);
}

body { 
    display: flex;
    background-color: #FFEFC6;
    align-items: center;
    justify-content: center;
}

.containerL {
    margin: 100px;
    display: flex;
    justify-content: space-between;
    width: 1300px;
    height: 700px;
    background-image: url(./img/fundo-login.jpg);
}

.login {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 800px;
    align-items: center;
    width: 680px;
    height: 700px;
    background-color: #FFDDA7;
    justify-content: flex-end;
}

.login > h1 {
    color: #AD6336;
    font-family: "montserrat";
}

.form-login {
    display: flex;
    flex-direction: column;
    width: 335px;
    height: 400px;
    font-family: "montserrat";
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    gap: 10px;
    
}

label {
    border: none;
    color: #00000090;
}

input {
    border-radius: 8px;
    background-color: #FFEFC6;
    width: 335px;
    height: 45px;
    text-align: center;
}

.loginB {
    width: 335px;
    height: 45px;
    background-color: #FFDDA7;
    border: none;
    color: #AD6336;
    cursor: pointer;
}

.entrar {
    width: 335px;
    height: 45px;
    background-color: #AD6336;
    color: #FFDDA7;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.entrar:hover {
    background-color: #FFDDA7;
    color: #AD6336;
    transition: 1s;
    border: #AD6336 solid 1px;
}

#s {
    padding-top: 10px;
}

#loginM {
    display: none;
}

@media screen and (max-width: 768px) {
    
    body {
        width: 100%;
        height: auto;
    }
    .containerL {
        background-image: none;
        width: 410px;
        height: 800px;
    }
    .login {
        margin: 0%;
        background-color: #AD6336;
        width: 410px;
        border-radius: 30px;
    }
    .login > h1 {
        display: none;
    }
    #loginM {
        display: block;
        width: 410px;
    }
    label {
        color: #FFDDA7;
    }
    .loginB {
        background-color: #AD6336;
        color: #FFDDA7;
    }
    .entrar {
        background-color: #FFDDA7;
        color: #AD6336;
    }
    .entrar:hover {
        background-color: #AD6336;
        color: #FFDDA7;
        border: #FFDDA7 solid 1px;
    }
}

#cdst{
    text-decoration: none;
        color: #AD6336;
        
}