* {
    margin: 0%;
    box-sizing: border-box;
    color: #442c1a;
    font-family: montserrat;
}

@font-face {
    font-family: "montserrat";
    src: url(./fontes/Montserrat-Regular.otf);
}   

body {
    margin: 0;
    padding: 0;
    background-color: #FFEFC6;
}

.product-container{
    display: flex;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
     
}

.homeButton {
  width: 60px;
  height: 50px;
  display: flex;
  border: none;
  background-color: #FFEFC6;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-left: 50px;
}

.homeButton > i {
  font-size: 50px;
  color: #674228;
}

.imgproduto {
    height: 400px;
    width: 550px;
    max-width: 570px;
    background-color: #674228;
    padding: 2px;
    border-radius: 8px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  }
  
.product-info {
  display: flex;
  flex-direction: column;
  height: 400px;
  margin-left: 50px;

}  

#size {
  height: 37px;
  width: 200px;
  border-radius: 30px;
  background-color: #E8E8E8;
}

#flavor {
  height: 37px;
  width: 200px;
  border-radius: 30px;
  background-color: #E8E8E8;

}

.product-info hr {
  border: 1px solid #DFB470;
  margin: 10px 0;
}

  
button {
  background-color: #DFB470 ;
  color: #674228;
  cursor: pointer;
  border-radius: 30px;
  border: 1px #674228 solid;
  margin-left: 400px;
  margin-top: 200px;
  height: 30px;
}

.listD {
  list-style-type: none;
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
    height: auto;
  }
  .imgproduto {
    height: 200px;
    width: 275px;

  }
  .product-container {
   width: 100%;
   height: 100%;
   align-items: center;
  }
  button {
    margin-left: 0%;
  }
  .product-info hr {
    width: 150px;
    margin-top: 80px;
  }
}


  