* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@font-face {
    font-family: "montserrat";
    src: url(/fontes/Montserrat-Bold.otf);
}

body { 
    display: flex;
    background-color: #FFEFC6;
    align-items: center;
    justify-content: center;
}

.containerL {
    margin: 100px;
    display: flex;
    justify-content: space-between;
    width: 1300px;
    height: 700px;
    background-color: #AD6336;
}

.login {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    width: 680px;
    height: 700px;
    background-color: #FFDDA7;
    justify-content: center;
}

.login > h1 {
    color: #AD6336;
    font-family: "montserrat";
}

.login > img {
    height: 700px;
    width: 620px;
}

.form-login {
    display: flex;
    flex-direction: column;
    width: 335px;
    height: 400px;
    font-family: "montserrat";
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    gap: 8px;
    
}

label {
    border: none;
    color: #00000090;
}

input {
    border-radius: 8px;
    background-color: #FFEFC6;
    width: 335px;
    height: 45px;
}

.loginB {
    width: 335px;
    height: 45px;
    background-color: #FFDDA7;
    border: none;
    color: #AD6336;
    cursor: pointer;
}

.entrar {
    width: 335px;
    height: 45px;
    background-color: #AD6336;
    color: #FFDDA7;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

