<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jess Empadas #Cadastro</title>
    <link rel="stylesheet" href="../static/cadastroU.css"/>
    <link href="fontawesome/css/all.min.css" rel="stylesheet"/>
</head>
<body>
    <div class="container1">
        <div class="cadastro">
            <h1>CADASTRO</h1>
            <div class="form-cadastro">
                <form action="cadastroU.html" method="POST">
                    <fieldset>
                        <label for="cpf">CPF:</label>
                        <input type="text" id="cpf" name="cpf" placeholder="Insira seu CPF" required>
                    </fieldset>
                    <fieldset>
                        <label for="nome">Nome completo:</label>
                        <input type="text" id="nome" name="nome" placeholder="Insira seu nome completo" required>
                    </fieldset>
                    <fieldset>
                        <label for="email">Email:</label>
                        <input type="text" id="email" name="email" placeholder="Insira seu email" required>
                    </fieldset>
                    <fieldset>
                        <label for="telefone">Número de telefone:</label>
                        <input type="text" id="telefone" name="telefone" placeholder="Insira seu número de telefone" required>
                    </fieldset>
                    <fieldset>
                        <label for="senha">Senha:</label>
                        <input type="password" id="senha" name="senha" placeholder="Crie uma senha" required>
                    </fieldset>
                    <fieldset>
                        <button class="cadastrar" id="cadastrar" type="submit"><h3>Criar conta</h3></button>
                    </fieldset>
                    <fieldset>
                        <button class="loginB" id="but" type="submit"><p>Já tem uma conta? Entrar</p></button>
                    </fieldset>
                </form>
            </div>

        </div>
    </div>


</body>