<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jess Empadas #home</title>
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="../static/fontawesome/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <img id="logo" src="../static/img/logo.png">
            <div id="P">
                <input type="text" id="pesquisa" placeholder="Pesquisa...">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div id="inverte">
                <i id="burguer" onclick="clickMenu()"><i class="fa-solid fa-bars"></i></i>
                <div id="overlay" >
                    <div id="itens" class="menu">
                        <a href="#">Home |</a>
                        <a href="#">Produtos |</a>
                        <a href="#">Sobre |</a>
                        <a href="#">Contato</a>
                    </div> 
                </div>
                <div id="A">
                    <a href="#"><i class="fa-solid fa-user"></i></a> 
                    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </div>
        </nav>
    </header>

    <script>
        function mudoutamanho() {
            if (window.innerWidth >= 768) {
                itens.style.display = "block"
            } else {
                itens.style.display = "none"
            }
        }
        function clickMenu() {
            var overlaay = document.getElementById('overlay');
            var itens = document.getElementById('itens');
            if (itens.style.display == 'block') {
                itens.style.display = "none"
            } else {
                itens.style.display = "block"
            }
        }
    </script>
    
    <main>
    </main>
    <footer>
        <div class="footer-content">
            <div class="logo-container">
                <img src="../static/img/logo.png" alt="Logo da Sua Empresa">
            </div>
            
            <div class="contact-info">
                <h3 class="title">Contato</h3>
                <p class="info">Delivery e Eventos:</p>
                <p class="info">(84) 98859-6694</p>
                <div id="ig">
                    <div id="simbIG">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <div>
                        <h4>@jess.empadas</h4>
                        <p>Desde 2023 © Jess Empadas</p>
                    </div>
                </div>
            </div>
        </div>
    </footer> 
</body>
</html>