<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jess Empadas #home</title>
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="../static/fontawesome/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <img id="logo" src="../static/img/logo.png">
            <div id="P">
                <input type="text" id="pesquisa" placeholder="Pesquisa...">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div id="inverte">
                <i id="burguer" onclick="clickMenu()"><i class="fa-solid fa-bars"></i></i>
                <div id="overlay" >
                    <div id="itens" class="menu">
                        <a href="#" onclick="clickMenu()">Home</a>
                        <a href="#produtos" onclick="clickMenu()">Produtos</a>
                        <a href="#sobre" onclick="clickMenu()">Sobre</a>
                        <a href="#footer" onclick="clickMenu()">Contato</a>
                    </div> 
                </div>
                <div id="A">
                    <a href="../templates/loginU.html"><i class="fa-solid fa-user"></i></a> 
                    <a href="../templates/carrinho.html"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </div>
        </nav>
    </header>

    <script>
        function mudoutamanho() {
            if (window.innerWidth >= 768) {
                itens.style.display = "block"
            } else {
                itens.style.display = "none"
            }
        }
        function clickMenu() {
            var overlaay = document.getElementById('overlay');
            var itens = document.getElementById('itens');
            if (overlaay.style.display == 'block') {
                overlaay.style.display = "none"
                itens.style.display = 'block'
            } else {
                overlaay.style.display = "block"
            }
        }
    </script>
    
    <main>
        <section id="hero">

        </section>
        <section id="produtos">

        </section>

        <section id="sobre">
            <div class="textos-sobre">
                <div class="sobretexto">
                    <h3>Missão</h3>
                    <p>Oferecer produtos exclusivos para toda
                        e qualquer celebração da vida. 
                        Os produtos são artesanais que unem beleza
                    e sabor.</p>
                </div>
                <div class="sobretexto">
                    <h3>Visão</h3>
                    <p>Proporcionar um portfólio diverso,
                        oferecendo experiências que lhe
                        tragam memórias afetivas.</p>
                </div>
                <div class="sobretexto">
                    <h3>Valores</h3>
                    <p>
                        <ul>
                            <li>
                                Valorização do ser humano com respeito e ética;
                            </li>
                            <li>
                                Oferecer um portfólio de produtos de
                        qualidade que se tornem tendências;
                            </li>
                            <li>
                                Inovar para encantar, sempre!
                            </li>
                        </ul>
                    </p>
                </div>
            </div>

            <div class="img-sobre">
                <img src="../static/img/img-sobre.png" class="imgsobre">
            </div>

        </section>
    
    </main>
    <footer id="footer">
        <div id="entreFeS">

        </div>
        <div class="footer-content">
            <img id="logoF" src="../static/img/logo.png" alt="Logo da Sua Empresa">
            
            <div class="contact-info">
                <h3 class="title">Contato</h3>
                <p class="info">Delivery e Eventos:</p>
                <p class="info">(84) 98859-6694</p>
                <div id="ig">
                    <div id="simbIG">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <div>
                        <h4 class="title">@jess.empadas</h4>
                        <p class="info">Desde 2023 © Jess Empadas</p>
                    </div>
                </div>
            </div>
        </div>
    </footer> 
</body>
</html>