<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jess Empadas #Login</title>
    <link rel="stylesheet" href="../static/loginU.css"/>
    <link href="fontawesome/css/all.min.css" rel="stylesheet"/>
</head>
<body>
    <div class="containerL">
        <div class="login">
            <img id="loginM" src="../static/img/loginM.png">
            <h1>LOGIN</h1>
            <div class="form-login">
                <form action="/adm" method="POST">
                    <fieldset>
                        <label for="login">Email ou CNPJ:</label>
                        <input type="text" id="login" name="login" placeholder=" Insira Email ou CNPJ" required>
                    </fieldset>
                    <fieldset>
                        <label id="s" for="senha">Senha:</label>
                        <input type="password" id="senha" name="senha" placeholder=" Insira sua Senha" required>
                    </fieldset>
                    <button class="loginB" id="but" type="submit"><p>Esqueceu sua senha?</p></button>
                    <button class="entrar" id="entrar" type="submit"><h3>Entrar</h3></button>
                    <button class="loginB" id="cadastrar" type="submit"><p><a href="{{ url_for('adm_cadastra') }}" id="cdst">Cadastrar-se</a></p></button>
                </form>
    
                
            </div>
        </div>
        
    </div>
</body>
</html>