<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jess Empadas #produto</title>
    <link rel="stylesheet" href="../static/produto.css">
    <link rel="stylesheet" href="../static/fontawesome/css/all.min.css">
</head>
<body>
    <div class="product-container">
        <div class="img-produto"> <!-- aqui fica a img do produto -->
            <img src="" alt="" class="imgproduto">
        </div>
        
        <div class="product-info"> <!-- informações do produto -->
            <h1></h1> <!-- aqui é o nome -->
            <hr>
            <div class="descricaoP"> <!-- aqui é a descrição -->
                <ul class="listD"> <!-- cada descricao em um li -->
                    <li></li>
                </ul>
                
                <h3></h3> <!-- valor em destaque -->
            </div> 
            <form action="/carrinho" method="post">
                <button type="submit" value="adicionar ao carrinho">Adicionar ao Carrinho</button>
            </form>
        </div>
    </div>
</body>
</html>