<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jess Empadas #produto</title>
    <link rel="stylesheet" href="../static/produto.css">
    <link rel="stylesheet" href="../static/fontawesome/css/all.min.css">
</head>
<body>
    <div class="product-container">
        <div class="img-produto">
            <img src="../static/img/img-teste.png" alt="" class="imgproduto">
        </div>
        
        <div class="product-info">
          <h1>Empada doce</h1>
          <hr>
          <p>10g de massa Pâte Sucrée com 20g de recheio com base de brigadeiro.</p>

          <div class="produto-form">
                <h2>Selecione seu Produto</h2>
            
                <form action="#" method="post">
                <p>Tamanho:</p>
                <select id="size" name="size">
                    <option value="pequena">Empada doce 30g</option>
                    <option value="grande">Empada doce 60g</option>
                </select>
                    
                <p>Sabores:</p>
                <select id="flavor" name="flavor">
                    <option value="tradicional">Tradicional</option>
                    <option value="chocolate">Chocolate</option>
                    <option value="ninho">Ninho</option>
                    <option value="ninho_chocolate">Ninho com Chocolate</option>
                    <option value="pacoca">Paçoca</option>
                    <option value="ovomaltine">Ovomaltine</option>
                    <option value="prestigio">Prestígio</option>
                    <option value="maracuja">Maracujá</option>
                    <option value="oreo">Oreo</option>
                    <option value="kitkat">KitKat</option>
                    <option value="ninho_nutella">Ninho com Nutella</option>
                </select>
            
             
                <h3>Valor: R$ 2,50</h3>

                <input type="submit" value="Adicionar ao Carrinho">
                </form>
            </div>
        </div>

        
    </div>

    
    </body>
    </html>
    
</body>